{% extends 'myapp/base.html' %}

{% block body%}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" id="name" placeholder="Enter book name">
    <input type="text" name="description" id="description" placeholder="Enter book description">
    <input type="text" name="price" id="price" placeholder="Enter book price">
    <input type="file" name="book_image" id="book_image">
    <input type="submit" value="Submit">
</form>
{% endblock %}